<%- include("partials/header") -%>

<h2 class="skill">About</h2>

<p class="expe">I am a student offering B.S.c Degree in Information Technology (I.T) (Network Systems) at Accra Institute of Technology</p>