<%- include("partials/header") -%>

<h2 class="skill">Contact info.</h2>

<div class="contactContainer">
    <p class="expe"><a href="tel: +233576760647" class="fa fa-phone"></a>ContactMe</p>
    <p class="expe"><a href="https://www.facebook.com/Solomon Yeboah" class="fa fa-facebook"></a>Facebook</p>
    <p class="expe"><a href="https://www.instagram.com/solomon_de_khing" class="fa fa-instagram"></a>Instagram</p>
    <p class="expe"><a href="mailto: yeboahs324@gmail.com?subject = Feedback&body = Message" class="fa fa-envelope"></a>Email</p>
    <p class="expe"><a href="https://github.com/SolomonOpoku" class="fa fa-github"></a>Github</p>
</div>
