<%- include("partials/header") -%>

<h2 class="skill">Skills</h2>
<p class="expe">I have acquire knowledge in the following skills which i use to develop, design and deploy web applications</p>

<img class="image" src="https://t4.ftcdn.net/jpg/02/87/40/37/360_F_287403724_69dRkna3dYgK1hjcJYM1IBKdwV681Yay.jpg" alt="">
<ul class="exp">
    <li class="list">HTML</li>
    <li class="list">CSS</li>
    <li class="list">BOOTSTRAP</li>
    <li class="list">JAVASCRIPT</li>
    <li class="list">JQUERY</li>
    <li class="list">NODEJS</li>
    <li class="list">MONGODB & ATLAS</li>
    <li class="list">APIs</li>
    <li class="list">REACTJS</li>
    <li class="list">ETC</li>
</ul>