<%- include("partials/header") -%>


<h2 class="work">WORKS</h2>

<div>
    <img src="/image/web design.jpg" class="image1 pic" alt="">
    <img src="/image/web design 2.jpg" class="image2 pic" alt="">
    <img src="/image/web design 6.jpg" class="image6 pic" alt="">
    <img src="/image/web design 4.jpg" class="image4 pic" alt="">
    <img src="/image/web design 5.jpg" class="image5 pic" alt="">
</div>


<!-- <p>I have worked on many projects.</p> -->